data/videos/*.mp3 filter=lfs diff=lfs merge=lfs -text
data/videos/*.wav filter=lfs diff=lfs merge=lfs -text
data/videos/*.json filter=lfs diff=lfs merge=lfs -text
data/videos/*.json.2 filter=lfs diff=lfs merge=lfs -text
data/backups/*.csv filter=lfs diff=lfs merge=lfs -text
data/backups/*.sql filter=lfs diff=lfs merge=lfs -text
data/covers/*.jpg filter=lfs diff=lfs merge=lfs -text
data/covers/*.png filter=lfs diff=lfs merge=lfs -text
data/dictionaries/input/*.xml filter=lfs diff=lfs merge=lfs -text
data/dictionaries/output/*.sqlite filter=lfs diff=lfs merge=lfs -text
data/dictionaries/input/*.jsonl filter=lfs diff=lfs merge=lfs -text